@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

a:visited {
    color: white;
}

a{
    color: white;
}

/* HEADER */

.container-header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;
    padding: 1rem;
    width: 100%;
    color: white;
    position: fixed;
    box-sizing: border-box;
}

.div-header{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    
}

.div-sections{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-right: 1rem;
}

.section-text{
    cursor: pointer;
}

.section-text:hover{
    color: #8d8d8d;
}

.small-menu{
    display: none;
}

/* MAIN */

.div-description{
    background-image: linear-gradient(rgba(29, 29, 29, 0.65), rgba(29, 29, 29, 0.65)), url(img/empresa.jpg);
    height: 1000px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 0px;
    color: white;
    padding: 2rem;
}

.title-description{
    font-weight: 600;
}

.description{
    font-weight: 500;
}

.know-more{
    font-weight: 500;
    background-color: #1E1E1E;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-size: 16px;
    border-radius: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
}

.know-more:hover {
    background-color: #3b3b3b;
}

.img-clients{
    width: 5%;
    cursor: pointer;
    min-width: 60px;
}

.div-clients{
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-img-clients{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.div-do{
    background-color: #1E1E1E;
    color: white;
    padding: 2rem;
}

.ul-do{
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.title-description-do{
    font-size: 24px;
    font-weight: 600;
}

.description-do{
    font-weight: 400;
}

.li-do{
    background-color: #353535;
    padding: 1.5rem;
    border-radius: 0.3rem;
    width: 70%;
}

.div-product{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-item-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    
}

.product-item{
    display: flex;
    align-items: center;
    margin: 1rem;
}

.product{
    text-align: center;
    padding: 2rem;
}

.product-text{
    font-weight: 500;
    text-align: start;
    margin-left: 1rem;
}

.section-title{
    font-weight: 600;
}

.opinion-about-us{
    background-color: #1E1E1E;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.comment-img{
    width: 100%;
    max-width: 200px;
    min-width: 150px;
}

.opinion-text{
    background-color: #353535;
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 60%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
}

.client-comment{
    font-weight: 500;
}

.img-gallery{
    width: 100%;
    border-radius: 0.5rem;
}

.div-gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.div-gallery-img{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: center;
}

/* FOOTER */

.text-footer{
    font-size: 16;
    text-align: center;
    font-weight: 500;
}

.div-footer{
    background-color: #1E1E1E;
    color: white;
    padding: 2rem;
}

@media (max-width: 800px){
    .div-sections{
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: start;
        right: -110%;
        background-color: #1E1E1E;
        top: 80px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        gap: 10px;
        transition: 0.3s;
        padding-top: 1rem;
    }

    .ativo{
        right: 0;
    }

    .small-menu{
        display: block;
    }

    #close-icon{
        cursor: pointer;
        margin-right: 2rem;
    }

    #menu-icon{
        margin-right: 2rem;
        cursor: pointer;
        display: inline-block;
    }

    .ul-do{
        display: flex;
        gap: 2rem;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }

    .div-product{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .opinion-text{
        flex-direction: column;
        width: 90%;
        max-width: 400px;
    }

    .div-img-clients {
        display: grid;
        grid-template-columns: repeat(2, 0fr);
        gap: 2rem;
        justify-content: center;
        width: 80%;
        margin: 0;
    }
    
    .div-clients{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    .div-gallery-img {
        display: grid;
        grid-template-columns: 40% 40%;
        gap: 2rem;
        justify-content: center;
        margin-top: 2rem;
    }

    .img-gallery{
        width: 100%;
        border-radius: 0.5rem;
    }
}

@media (max-width: 500px){
    .div-gallery-img {
        display: grid;
        grid-template-columns: 90%;
        gap: 2rem;
        justify-content: center;
        margin-top: 2rem;
    }

    .img-gallery{
        width: 100%;
        border-radius: 0.5rem;
    }
}